@model IEnumerable<SuraswadeeWeb.Models.Student>

@{
    ViewBag.Title = "Index";
}

<h2>รายชื่อผู้สมัคร</h2>

<div>
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#ผู้สมัครใหม่" role="tab" data-toggle="tab">ผู้สมัครใหม่</a></li>
        <li role="presentation"><a href="#ตรวจแล้ว" role="tab" data-toggle="tab">ตรวจแล้ว</a></li>

    </ul>

    <div id="myTabContent" class="tab-content">

        @*ผู้สมัครใหม่*@
        <div role="tabpanel" class="tab-pane fade active in" id="ผู้สมัครใหม่">
            <form class="form-inline" role="form">
                <div class="pull-right">
                    <button class="btn btn-lg btn-default">ตรวจ</button>

                    @*<div class="input-group">
                            <input type="text" class="form-control" placeholder="Search" />
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                            </span>
                        </div>*@
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th><input id="checkAll" type="checkbox"></th>
                        <th>ชื่อ-สกุล</th>
                        <th>หลักสูตร</th>
                        <th>วันที่</th>
                        <th>รายละเอียด</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach ( var item in Model)
                    {
                        <tr>
                            <td><input type="checkbox" /></td>
                            <td>@item.StudentTitle@item.StudentFIrstName @item.StudentLastName</td>
                            <td>@item.CourseType</td>
                            <td>@item.CreateDateTime.ToString("MM/dd/yyyy")</td>
                            <td><button class="btn btn-default">ดูรายละเอียด</button></td>
                        </tr>
                    }
                    @*<tr>
                        <td><input type="checkbox" /></td>
                        <td>Mark</td>
                        <td>ประถม 1</td>
                        <td>9/20/2015</td>
                        <td><button class="btn btn-default">ดูรายละเอียด</button></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>Jacob</td>
                        <td>อุบาล 2</td>
                        <td>12/21/2015</td>
                        <td><button class="btn btn-default">ดูรายละเอียด</button></td>
                    </tr>
                    <tr>
                        <td><input type="checkbox" /></td>
                        <td>Larry</td>
                        <td>ประถม 6</td>
                        <td>1/9/2016</td>
                        <td><button class="btn btn-default">ดูรายละเอียด</button></td>
                    </tr>*@
                </tbody>
            </table>
        </div>

        @*ตรวจแล้ว*@
        <div role="tabpanel" class="tab-pane fade" id="ตรวจแล้ว">
            <form class="form-inline" role="form">
                <div class="pull-right">
                    <div class="form-group">
                        <select class="form-control">
                            <option selected>ระดับการศึกษา</option>
                            <option>เตรียมอนุบาล</option>
                            <option>อนุบาลศึกษาปีที่ 1</option>
                            <option>อนุบาลศึกษาปีที่ 2</option>
                            <option>อนุบาลศึกษาปีที่ 3</option>
                            <option>ประถมศึกษาปีที่ 1</option>
                            <option>ประถมศึกษาปีที่ 2</option>
                            <option>ประถมศึกษาปีที่ 3</option>
                            <option>ประถมศึกษาปีที่ 4</option>
                            <option>ประถมศึกษาปีที่ 5</option>
                            <option>ประถมศึกษาปีที่ 6</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <select class="form-control">
                            <option selected>ปีการศึกษา</option>
                            <option>2557</option>
                        </select>
                    </div>
                    <input type="text" class="form-control" placeholder="ค้นหาจากชื่อ" />
                    <button class="btn btn-default" type="button"><i class="glyphicon glyphicon-search"></i></button>
                </div>
            </form>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>ชื่อ-สกุล</th>
                        <th>หลักสูตร</th>
                        <th>วันที่</th>
                        <th>รายละเอียด</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Mark</td>
                        <td>ประถม 1</td>
                        <td>9/20/2015</td>
                        <td><button class="btn btn-default">ดูรายละเอียด</button></td>
                    </tr>
                    <tr>
                        <td>Jacob</td>
                        <td>อุบาล 2</td>
                        <td>12/21/2015</td>
                        <td><button class="btn btn-default">ดูรายละเอียด</button></td>
                    </tr>
                    <tr>
                        <td>Larry</td>
                        <td>ประถม 6</td>
                        <td>1/9/2016</td>
                        <td><button class="btn btn-default">ดูรายละเอียด</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>