
@{
    ViewBag.Title = "RegisterCompleted";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}
<div class="well">
    <h2 class="text-center">สมัครสำเร็จ !</h2>
    <br />
    <br />
    <h4 class="text-center">สมัครสำเร็จ ! ทางโรงเรียนจะติดต่อกลับภายหลัง</h4>
    <br />
    <br />
    <div class="text-center">
        <a href="http://surassawadee.siam2web.com/" class="btn btn-lg btn-primary">กลับไปที่เว็บไซต์โรงเรียน</a>
    </div>
</div>

