@model SuraswadeeWeb.Models.Student


@{
    ViewBag.Title = "Register";
    Layout = "~/Views/Shared/_BlankLayout.cshtml";
}

<div class="well">
    <h2 class="text-center">แบบฟอร์มสมัคร โรงเรียนสุรัสวดี</h2>

@using (Html.BeginForm("RegisterCompleted", "Register", FormMethod.Post))
{
    @* ข้อมูลผู้ปกครอง *@
    <div>
        <h3 class="text-center">ข้อมูลผู้ปกครอง</h3>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label">คำนำหน้าชื่อ ผู้ปกครอง</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ParentTitle, new { @type = "text", @class = "form-control", @placeholder = "นาย,นาง,นางสาว", @required="required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ชื่อ ผู้ปกครอง</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ParentFirstName, new { @type = "text", @class = "form-control", @placeholder = "ชื่อ ผู้ปกครอง", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">นามสกุล ผู้ปกครอง</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ParentLastName, new { @type = "text", @class = "form-control", @placeholder = "นามสกุล ผู้ปกครอง", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">อยู่บ้านเลขที่</label>
                <div class="col-md-6">
                    @Html.TextBoxFor(model => model.ParentHomeNo, new { @type = "text", @class = "form-control", @placeholder = "อยู่บ้านเลขที่", @required = "required" })
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">หมู่ที่</label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ถนน</label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ตำบล</label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">อำเภอ</label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">จังหวัด</label>
                <div class="col-md-6">
                    <select class="form-control">
                        <option>กรุงเทพมหานคร</option>
                        <option>กระบี่</option>
                        <option>กาญจนบุรี</option>
                        <option>กาฬสินธุ์</option>
                        <option>กำแพงเพชร</option>
                        <option>ขอนแก่น</option>
                        <option>จันทบุรี</option>
                        <option>ฉะเชิงเทรา</option>
                        <option>ชลบุรี</option>
                        <option>ชัยนาท</option>
                        <option>ชัยภูมิ</option>
                        <option>ชุมพร</option>
                        <option>เชียงราย</option>
                        <option>เชียงใหม่</option>
                        <option>ตรัง</option>
                        <option>ตราด</option>
                        <option>ตาก</option>
                        <option>นครนายก</option>
                        <option>นครปฐม</option>
                        <option>นครพนม</option>
                        <option>นครราชสีมา</option>
                        <option>นครศรีธรรมราช</option>
                        <option>นครสวรรค์</option>
                        <option>นนทบุรี</option>
                        <option>นราธิวาส</option>
                        <option>น่าน</option>
                        <option>บึงกาฬ</option>
                        <option>บุรีรัมย์</option>
                        <option>ปทุมธานี</option>
                        <option>ประจวบคีรีขันธ์</option>
                        <option>ปราจีนบุรี</option>
                        <option>ปัตตานี</option>
                        <option>พระนครศรีอยุธยา</option>
                        <option>พังงา</option>
                        <option>พัทลุง</option>
                        <option>พิจิตร</option>
                        <option>พิษณุโลก</option>
                        <option>เพชรบุรี</option>
                        <option>เพชรบูรณ์</option>
                        <option>แพร่</option>
                        <option>พะเยา</option>
                        <option>ภูเก็ต</option>
                        <option>มหาสารคาม</option>
                        <option>มุกดาหาร</option>
                        <option>แม่ฮ่องสอน</option>
                        <option>ยะลา</option>
                        <option>ยโสธร</option>
                        <option>ร้อยเอ็ด</option>
                        <option>ระนอง</option>
                        <option>ระยอง</option>
                        <option>ราชบุรี</option>
                        <option>ลพบุรี</option>
                        <option>ลำปาง</option>
                        <option>ลำพูน</option>
                        <option>เลย</option>
                        <option>ศรีสะเกษ</option>
                        <option>สกลนคร</option>
                        <option>สงขลา</option>
                        <option>สตูล</option>
                        <option>สมุทรปราการ</option>
                        <option>สมุทรสงคราม</option>
                        <option>สมุทรสาคร</option>
                        <option>สระแก้ว</option>
                        <option>สระบุรี</option>
                        <option>สิงห์บุรี</option>
                        <option>สุโขทัย</option>
                        <option>สุพรรณบุรี</option>
                        <option>สุราษฎร์ธานี</option>
                        <option>สุรินทร์</option>
                        <option>หนองคาย</option>
                        <option>หนองบัวลำภู</option>
                        <option>อ่างทอง</option>
                        <option>อุดรธานี</option>
                        <option>อุทัยธานี</option>
                        <option>อุตรดิตถ์</option>
                        <option>อุบลราชธานี</option>
                        <option>อำนาจเจริญ</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">รหัสไปรษณี</label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">อาชีพ</label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">สถานที่ทำงาน</label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">หมายเลขโทรศัพท์ ผู้ปกครอง</label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">มีฐานะเป็น</label>
                <div class="col-md-6">
                    <select class="form-control">
                        <option>ผู้ปกครอง</option>
                        <option>บิดา</option>
                        <option>มารดา</option>
                    </select>
                </div>
            </div>
        </div>
    </div>

    @* ข้อมูลนักเรียน *@
    <div>
        <h3 class="text-center">ข้อมูลนักเรียน</h3>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label">หลักสูตรที่สมัคร</label>
                <div class="col-md-6">
                    <select class="form-control">
                        <option selected>เตรียมอนุบาล</option>
                        <option>อนุบาลศึกษาปีที่ 1</option>
                        <option>อนุบาลศึกษาปีที่ 2</option>
                        <option>อนุบาลศึกษาปีที่ 3</option>
                        <option>ประถมศึกษาปีที่ 1</option>
                        <option>ประถมศึกษาปีที่ 2</option>
                        <option>ประถมศึกษาปีที่ 3</option>
                        <option>ประถมศึกษาปีที่ 4</option>
                        <option>ประถมศึกษาปีที่ 5</option>
                        <option>ประถมศึกษาปีที่ 6</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ปีการศึกษา</label>
                <div class="col-md-6">
                    <select class="form-control">
                        <option>2557</option>
                        <option>2558</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">คำนำหน้าชื่อ นักเรียน</label>
                <div class="col-md-6">
                    <input type="text" class="form-control" placeholder="เด็กชาย,เด็กหญิง">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ชื่อ นักเรียน</label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">นามสกุล นักเรียน</label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ชื่อเล่น</label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">วันเดือนปีเกิด</label>
                <div class="col-md-6">
                    <input type="date" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">เคยศึกษาที่โรงเรียน</label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ระดับ</label>
                <div class="col-md-6">
                    <input type="text" class="form-control">
                </div>
            </div>

        </div>
    </div>

    @* หลักฐานและค่าธรรมเนียม *@
    <div>
        <h3 class="text-center">หลักฐานและค่าธรรมเนียม</h3>
        <div class="form-horizontal">
            <div class="form-group">
                <label class="col-md-4 control-label">สำเนาทะเบียนบ้าน</label>
                <div class="col-md-6">
                    <input type="file">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">สำเนาสูติบัติ</label>
                <div class="col-md-6">
                    <input type="file">

                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">รูปถ่าย</label>
                <div class="col-md-6">
                    <input type="file">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">สมุดรายงานประจำตัวเด็ก (ถ้ามี)</label>
                <div class="col-md-6">
                    <input type="file">
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ค่าธรรมเนียมการเรียน</label>
                <div class="col-md-6">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> เบิกได้ จำนวน
                        </label>
                        <label>
                            <input type="number" class="form-control">
                        </label>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> เบิกไม่ได้ จำนวน
                        </label>
                        <label>
                            <input type="number" class="form-control">
                        </label>
                    </div>        
                </div>
            </div>
            <div class="form-group">
                <label class="col-md-4 control-label">ค่าธรรมเนียมอื่นๆ</label>
                <div class="col-md-6">
                    <textarea class="form-control" rows="3"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center">
        <input class="btn btn-primary btn-lg" type="submit" value="ส่งใบสมัคร">
    </div>
}
</div>
